<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/recent/bulma.min.css">
  <title>i: recent uploads</title>
</head>

<body>
  <section class="section">
    <div class="container">
      <h1 class="title">Recent uploads</h1>

      <!-- Thumbnails -->
      <!--<h3 class="title is-5">Thumbnails</h3>-->
      <div class="columns is-multiline is-mobile">
        {% for recent in recents %}
        <div class="column is-narrow">
          <div class="card">
            <div class="card-image has-text-centered">
              <figure class="image is-128x128 is-inline-block">
                <a href="/{{ recent.url }}">
                  <img src="{{ recent.thumbnail_url }}" alt="image">
                </a>
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <a href="/{{ recent.url }}">{{ recent.url }}</a>
                <br>
                <time class="is-size-7" datetime="{{ recent.timestamp }}">{{ recent.timestamp }}</time>
              </div>
            </div>
            <form method="post" action="/delete">
              <footer class="card-footer">
                <p className="card-footer-item is-paddingless"></p>
                <input type="hidden" name="filename" value="{{ recent.url }}">
                <input type="submit" value="Delete" class="button is-fullwidth is-danger is-light">
              </footer>
            </form>
          </div>
        </div>
        {% endfor %}
      </div>

      <!-- Pagination -->
      <nav class="pagination" role="navigation" aria-label="pagination">
        {% if let Some(page) = pagination.prev %}
        <a href="recent?page={{page - 1}}" class="pagination-previous">Previous</a>
        {% endif %}
        {% if let Some(page) = pagination.next %}
        <a href="recent?page={{page - 1}}" class="pagination-next">Next page</a>
        {% endif %}
        <ul class="pagination-list">
        {% for page in pagination.pages %}
          {% match page %}
          {% when PaginationNode::Ellipsis -%}
          <li>
            <span class="pagination-ellipsis">&hellip;</span>
          </li>
          {% when PaginationNode::Current(nbr) -%}
          <li>
            <a class="pagination-link is-current" aria-label="Page {{ nbr }}" aria-current="page">{{ nbr }}</a>
          </li>
          {% when PaginationNode::Page(nbr) -%}
          <li>
            <a href="recent?page={{nbr - 1}}" class="pagination-link" aria-label="Goto page {{ nbr }}">{{ nbr }}</a>
          </li>
          {% endmatch %}
        {% endfor %}
        </ul>
      </nav>
    </div>
  </section>
</body>

</html>
